<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>글 조회 페이지</title>
		
		<link href="/public/semantic.min.css" rel="stylesheet" >
		<link href="/public/cleditor/jquery.cleditor.css" rel="stylesheet" />
		
		<style>
			* {
				padding:0;
				margin:0;
				box-sizing:border-box;
			}
			
			html {
				width:100%;
				height:100%;
			}
			
			body {
				width:100%;
				height:100%;
				color: #000;
				background-color: #fff;
			}
					
			.container {
				margin-right: auto;
				margin-left: auto;
				padding-left: 20px;
				padding-right: 20px;
			}
	
			span {
				color: #999;
			}
			
			#titleOutput {
				margin-bottom: 10px;
				line-height: 1.2em;
			}
			
			#contentsOutput {
				margin-top: 10px;
				margin-bottom: 10px;
				line-height: 1.8em;
			}
	  
			#board_title {
				font-size:1.2em;
				font-weight:bold;
				color:teal;
			}
	  
		</style>
		
		<script src="/public/jquery-3.5.1.min.js"></script>
		<script src="/public/semantic.min.js"></script>
		<script src="/public/cleditor/jquery.cleditor.min.js"></script>
		
		<script>
			$(document).ready(function() {
				var output = $("#contentsOutput").text();
				console.log('output : ' + output);
				
				$("#contentsOutput").html(output);
				 
			});
            
		</script>
		
	</head>
	<body>
	
		<div class="container">
			<br>

			<div class="ui raised segment">
				<a class="ui blue ribbon label" href='/process/listpost?page=0&perPage=2'>게시판</a>
      			<span id="board_title"><%= title %></span>
			
				
				<div class="ui blue fluid card">
					 <div class="content">
						<%   
                            // 글 제목
				            var curTitle = posts._doc.title;
                            // 글 내용
				            var curContents = posts._doc.contents;
                            // 글 작성자의 이메일(아이디) -> users 컬렉션 참조
				            var curWriter = posts._doc.writer.email; 
                            // 현재 댓글 작성하는 작성자의 _id
                            var user_id = user_info._id;
                         
                            // 댓글이 달릴 현재 글의 _id -> 삭제 시 필요
                            var content_id = posts._doc._id;
                            // 글 생성 날짜
                            var created = posts._doc.created_at;
                            var comments = posts._doc.comments;
						  
//						   // html-entities module is required in post.js
//						   var entities = new Entities();
//						   
//						   var decodedContents = entities.decode(curContents);
                          /* var decodedContents = Entities.decode(curContents);
                            var decodedContents = curContents;*/
						%>
						
						<div id="titleOutput" class="header"><%=curTitle %></div>
	   					<div class="meta">
	     						<span class="right floated time"><%= created %></span>
	     						<span class="category">일반</span>
	   					</div>
	   					<div id="contentsOutput" class="description">
					       <%=curContents %>
					    </div>
					 </div>
	  				<div class="extra content">
	    				<div class="right floated author">
	      					<img class="ui avatar image" src="/public/author.png"> <%=curWriter %>
	    				</div>
	  				</div>
					
				</div>
                
                <div>
                    <hr>
                    <p>댓글 </p>
                    <div class="ui blue fluid card">
                         <div class="content">

                            <form class="content ui form" method="post" action="/process/addcomments">

                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" name="comments" placeholder="댓글 달기">
                                        <input type="hidden" name="com_writerID" value="<%= user_id %>">
                                        <input type="hidden" name="content_id" value="<%= content_id %>">
                                    </div>
                                    <div class="field"><button type="submit" class="ui primary basic button" id="pushComment" >댓글 입력</button></div>
                                    <div class="field"></div>
                                </div>

                             </form>
                        </div>
                    </div>
                </div>
                <hr>
                <%  // 각 글별 댓글의 정보 출력 -> 닉네임에 profile.ejs 연결 가능하게 태그 걸기
                    if(comments.length>0){ %>
                    <div class="ui comments">
                    <h3 class="ui dividing header">댓글</h3>
                <%      console.log(comments);
                        comments.forEach(function(comment) { %>
    
                        <div class="comment">
                            <a class="avatar">
                                <img src="/images/avatar/small/matt.jpg">
                            </a>
                            <div class="content">
                                <a class="author"><%= comment.writer.name %></a>
                                <div class="metadata">
                                <span class="date"><%= comment.created_at %></span>
                              </div>
                              <div class="text">
                                <%= comment.contents %>
                              </div>
                              <div class="actions">
                                <a class="reply">Reply</a>
                              </div>
                                <% if(comment.writer._id == user_info._id) { %>
                                <form method="post" action="/process/deletecomments">
                                    <div>
                                        <input type="hidden" name="del_comment" value="<%=comment._id%>">
                                        <input type="hidden" name="del_post" value="<%=content_id%>">
                                        <button type="submit" class="ui primary basic button" id="pushComment" >X</button>
                                    </div>
                                </form>
                            
                            <% } %>
                            </div>
                            
                        </div>
                

                    <% }) %>
                    </div>
                        
               <% } %>
                <div>
                    
                </div>
				
				<br><br><a class="ui button" href='/process/listpost?page=0&perPage=2'>글 목록</a>
				
			</div>
			
		</div>
			
	</body>
</html>

